.glass {
    /*Glass Effect made by Johnny*/
    border-radius: 7px;
    border:solid 2px #e0e0e0;
    margin: 25px;
    background: transparent;
    backdrop-filter: blur(12px);
    width: 900px;
    filter: blur(6px);
    height: 900px;
}
 body{
     /*The background image just makes easier to see the glass effect working
     also it isn't too big for download it's just 68KB(69.632 bytes)*/
     background: url('bg.jpeg');
     background-size: 1920px 1080px;
 }